.form {
  background-color: #4a5568;
}

.form--mega {
  background: linear-gradient(90deg, rgba(231,119,174,1) 0%, rgba(231,119,174,1) 12.5%, rgba(75,145,201,1) 37.5%, rgba(29,169,71,1) 62.5%, rgba(233,235,68,1) 87.5%, rgba(233,235,68,1) 100%);
}

.form--galarian {
  background-color: #AC379E;
}

.form--alola {
  background-color: #DC5A40;
}

.form--primal {
  background: linear-gradient(90deg, rgba(103,121,186,1) 0%, rgba(231,46,53,1) 100%);
}
